$global-font: 'Arial';
$global-heading: 'Arial';

$white: #ffffff;
$offwhite: #F1F1F1;
$orange : #FF8D38;
$blue: #264D63;
$black: #484848;
$gray: #B6B6B6; 
$gradient: "linear-gradient(-10deg, #285067, #2D9E8C)";

// Fonts
$font-size-max:			  	  18px;
$font-size-common:			  28px;
$font-size-lg:                28px;
$font-size-base:              14px;
$font-size-sm:                16px;
$font-size-sm2:               10px;
$font-size-df:				  24px;

$h1-ont-size:                 85px;
$h2-font-size:                35px;
$h3-font-size:                28px;
$h4-font-size:                24px;
$h5-font-size:                18px;
$h6-font-size:                18px;